<% if notice %> 
	<p id="notice"><%= notice %></p>
<% end %>

<h3>Кирпичи в ассортименте:</h3>

<% cache ['store', Product.latest] do %>
	<% @products.each do |product| %>
		<% cache ['entry', product] do %>
		<div class="row"> 
			<div class = "col-md-2">
				<%= image_tag(product.image_url) %>
			</div>
			<div class = "col-md-4">
				 <div class ="row">
						<h3><%= product.title %></h3>
				 </div>

				<div class = "row">
				    	<%= sanitize(product.description) %>  
				</div>

				<div class="row"> 
					<div class = "col-md-2">
						<%= number_to_currency(product.price) %>
					</div>
					<div class = "col-md-2 col-md-offset-2">
						<%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %> 
					</div>
					
				</div>
		    </div>
		    
		</div>      
		    
		<% end %>
	<% end %> 
<% end %>  
